@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
/* Custom styles for the navbar brand */

body {
    background: linear-gradient(135deg, #3d1b1b, #350d0d);
    color: white;
    font-family: 'Arial', sans-serif;
}
.card {
    border: none;
    border-radius: 15px;
    transition: transform 0.3s, box-shadow 0.3s;
    color: white;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}

.glass-effect {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.icon-container {
    font-size: 40px;
    color: #fff;
}

.card h4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.card p {
    margin: 0;
    color: #ddd;
}
